.full-width {
  width: 100% !important; }

.not-margin-bottom {
  margin-bottom: 0; }

.margin-top-small {
  margin-top: 3.125em !important; }

.margin-bottom-small {
  margin-bottom: 3.125em !important; }

.logo {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 73px;
  background-image: url("/img/logo.png");
  background-size: contain;
  margin: 3em 0 2em 0; }

.raffle {
  border-style: solid;
  border-width: 5px;
  border-color: #00b0ff; }