<!DOCTYPE html>
<html lang="pt" id="home">
<head>
  <%- include ../lib/meta %>
  <title>Site para dar, ganhar e concorrer presentes</title>
  <%- include ../lib/link %>
</head>

<body>
  <main>
    <div class="row">
      <div class="col s12 l7">
        <div class="graphic"></div>
      </div>
      
      <div class="col s12 l5">
        <div class="context">
          <div class="row">
            <div class="col s12">
              <h1 class="tittle">Dadivar</h1>  
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h4 class="thin">Aqui você pode dar presentes dos mais variados tipos, procurar algo que lhe seja útil e participar de inúmeros sorteios. É rápido, fácil e o melhor gratuito.</h4>
            </div>
          </div>
      
          <div class="row">
            <div class="col s12 l6">
              <a href="/login" class="btn-large waves-effect col s12 m12 l6 full-width margin-top-bottom">DAR PRESENTE</a>
            </div>
            <div class="col s12 l6">
              <a href="/gifts" class="btn-large waves-effect col s12 m12 l6 full-width margin-top-bottom">GANHAR PRESENTE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include ../lib/js %>