<!DOCTYPE html>
<html lang="pt" id="serverError">
<head>
  <%- include ../lib/meta %>
  <title>Ops, deu erro</title>
  <%- include ../lib/link %>
</head>
<body>
  <main class="container center">
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-image blue lighten-1">
            <i class="material-icons large white-text">error_outline</i>
          </div>
          <div class="card-content">
            <h5 class="light">Ops, deu erro</h5>
            <p><%- error.message %></p>
          </div>
          <div class="card-action">
            <a class="waves-effect btn blue lighten-1" href="/">PÁGINA INICIAL</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include ../lib/js %>