<!DOCTYPE html>
<html lang="pt" id="dashboard">
<head>
  <%- include ../lib/meta %>
  <title>Ações</title>
  <%- include ../lib/link %>
</head>
<body style="background-image: url('/img/bg_actions.png');">
  <%- include ../lib/navbar %>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">Bem vindo(a), ao Painel de Ações</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Você pode:</h4></li>
          <li class="collection-item">Publicar presentes através do item Dar.</li>
          <li class="collection-item">Visualizar todos presentes disponíveis no item Ganhar.</li>
          <li class="collection-item">Acompanhar os presentes relacionados a você, no item de relatórios Presentes.</li>
        </ul>
      </div>
    </div>
  </div>
  <%- include ../lib/js %>