#requestShow {
  @media only screen and (max-width: 992px) {
    .card .card-title {
      font-size: 18px;
      font-weight: 800;
    }
    .card .card-content {
      font-size: 14px;    
    }
  }

  @media only screen and (min-width: 993px){
    .card .card-title {
      font-size: 24px;
      font-weight: 800;
    }
    .card .card-content {
      font-size: 15px;    
    }
  }
}